<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading font-bold">
        <a data-toggle="collapse" href="#search-sale"><u>Điều kiện lọc</u></a>
      </div>
      <div id="search-sale" class="panel-collapse collapse in">
        <div class="panel-body">
          <form class="bs-example form-horizontal">
            <div class="row">
              <div class="col-md-2">
                <div class="radio" *ngFor="let rd of range_date">
                  <label class="i-checks">
                    <input type="radio" name="range_date" [value]="rd.value"
                           (change)="filter_ReportSale.range = rd.value">
                    <i></i>
                    {{rd.name}}
                  </label>
                </div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-3">
                    <label>Từ</label>
                    <datetime [ngModel]="datepicker_from_sale" name="datepicker_from_sale"
                              (dateChange)="myClearDate($event, 'sale', 'from')"
                              (ngModelChange)="myHandleDateFromChange($event, 'sale')" [timepicker]="false"
                              [datepicker]="datepickerSettings"></datetime>
                  </div>
                  <div class="col-md-3">
                    <label>Đến</label>
                    <datetime [(ngModel)]="datepicker_to_sale" name="datepicker_to_sale"
                              (dateChange)="myClearDate($event, 'sale', 'to')"
                              [timepicker]="false"
                              [datepicker]="datepickerToOpts_sale"></datetime>
                  </div>
                  <div class="col-md-3">
                    <label>Sản phẩm</label>
                    <xautocomplete [(value)]="filter_ReportSale.product_id"
                                   [data]="products"
                                   [model_name]="'id'"
                                   [name]="'name'">
                    </xautocomplete>
                  </div>
                  <div class="col-md-3">
                    <label>Đơn vị tính</label>
                    <xautocomplete [(value)]="filter_ReportSale.unit_id"
                                   [data]="units"
                                   [model_name]="'id'"
                                   [name]="'name'">
                    </xautocomplete>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label>Nhân viên/Khách vãng lai</label>
                    <xautocomplete [(value)]="filter_ReportSale.staff_output_id"
                                   [data]="staffs"
                                   [model_name]="'id'"
                                   [name]="'fullname'">
                    </xautocomplete>
                  </div>
                  <div class="col-md-3">
                    <label>{{_deviceCaptionService.cabinet}}</label>
                    <xautocomplete [(value)]="filter_ReportSale.cabinet_id"
                                   [data]="cabinets"
                                   [model_name]="'id'"
                                   [name]="'name'">
                    </xautocomplete>
                  </div>
                  <div class="col-md-3">
                    <label>Nhân viên điều chỉnh số lượng</label>
                    <xautocomplete [(value)]="filter_ReportSale.adjust_by"
                                   [data]="staffs"
                                   [model_name]="'id'"
                                   [name]="'fullname'">
                    </xautocomplete>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <button class="btn m-b-xs w-xs btn-info btn-rounded"
                        (click)="search_ReportSale()">Tìm kiếm
                </button>
                <button class="btn m-b-xs w-xs btn-success btn-rounded"
                        (click)="downloadFile('sale')">Xuất file
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading font-bold">
        Báo cáo bán hàng
      </div>
      <div class="panel-body">
        <spinner-fb [isLoading]="isLoading_Sale"></spinner-fb>
        <xdatatable [action]="action_data"
                    [body]="report_sales"
                    [header]="header_sale">
        </xdatatable>
      </div>
    </div>
  </div>
</div>