<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <span class="m-n font-thin h3" style="font-size: 2em">{{title}}</span>
          <div class="pull-right">
            <a href="/report-inputs/search?query={%22from_date%22:%22%22,%22to_date%22:%22%22,%22range%22:%22%22,%22product_id%22:0,%22unit_id%22:0,%22distributor_id%22:0,%22staff_input_id%22:0,%22cabinet_id%22:0}" hidden>Báo cáo nhập</a>
            <a href="" hidden>Báo cáo tồn</a>
            <a href="" hidden>Báo cáo bán</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#total">
                <i class="glyphicon glyphicon-th-large icon text-dark-lter"></i> Tổng hợp
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#home">
                <i class="glyphicon glyphicon-import icon text-primary-lter"></i> Nhập hàng
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#menu2">
                <i class="glyphicon glyphicon-inbox icon text-info-lter"></i> Tồn hàng
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#menu4">
                <i class="glyphicon glyphicon-shopping-cart icon text-success-lter"></i> Bán hàng
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="total" class="tab-pane fade in active">
              <app-report-supplier-total></app-report-supplier-total>
            </div>
            <div id="home" class="tab-pane fade">
              <app-report-supplier-input></app-report-supplier-input>
            </div>
            <div id="menu2" class="tab-pane fade">
              <app-report-supplier-stock></app-report-supplier-stock>
            </div>
            <div id="menu4" class="tab-pane fade">
              <app-report-supplier-sale></app-report-supplier-sale>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->
